<% if object.errors.any? %>
  <div class="alert alert-warning custom-alert" role="alert">
    <p>Please fix these errors:</p>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
